*{
  margin:0;
  padding:0;
  font-family: monoisome;
}
.hero {
  /* background-image: url(./images/background.jpg); */
  background-color: #082e4e;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  max-height: 80vh;
  height: 100vh;
}

.logo {
  position: absolute;
    top: 2%;
    left: 1%;
    width: 80px;
}

header {
  color:#008080;
  position: absolute;
  top: 45%;
  left: 5%;
  font-size: 40px;
  flex: 1;
}

.orange {
  color: orange ;
}

.hero h2 {
  color:#008080;
  position: absolute;
  top: 70%;
  left: 11%;
  font-size: 40px;
  flex-basis: 0%;
}

.developer {
  position: absolute;
  top: 72%;
  left: 20%;
  font-size: 70px;
  flex-basis: 0%;
}
.container {
  position: absolute;
    margin: 20px;
    width: auto;
    top:2%;
    right: 3%;
}

.topnav {
  overflow: hidden;
  background-color:transparent;
}

  /* Navbar links */
  .topnav a {
    margin-left: 1ch;
    flex: auto;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 17px;
    border: 1px solid #fff;
    border-radius: 20px;
    cursor: pointer; 
   
  }
  
  .topnav a:hover {
    background-color: transparent;
    color: orange;
  }

  .aboutMe {
    text-align: center;
  }


  .portfolio {
    background-color: #082e4e;
    color: #fff;
    text-align: center;
  }


