* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Anonymous Pro;
}

.hero {
  background-image: url("./images/back.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 100%;
  height: 800px;
  width: 90%;
  position: relative;
  overflow: hidden;
}

.hero nav ul {
  list-style: none;
  text-align: right;
  padding: 11px;
  margin: 0;
  position: relative;
}

.hero nav li {
  font-family: "Oswald", sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  display: inline;
}

.hero nav a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
  right: 25ch;
  margin-left: 2.5ch;
  color: #f2f2f2;
  padding: 10px 25px;
  text-decoration: none;
  font-size: 17px;
  border: 1px solid #fff;
  border-radius: 20px;
  cursor: pointer;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.topnav a:hover {
  background-color: transparent;
  color: #e6b7a3;
}

.content {
  color: #fbfcfd;
  position: absolute;
  top: 45%;
  left: 1%;
  transform: translatey(-50%);
  z-index: 2;
}

.content div h1 {
  font-size: 40px;
}

.boldorange {
  color: #e6b7a3;
  position: relative;
  left: 20px;
}
.text-align {
  position: relative;
  left: 20px;
}

.content .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.content .row a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  margin-right: 20px;
  border: 2px solid #fff;
  border-radius: 20px;
}

.content .row a:hover {
  background-color: transparent;
  color: #e6b7a3;
}

/* The start of about me section */

.section-title {
  font-size: 55px;
  color: #709eae;
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
}

h2::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 3px;
  background-color: #709eae;
  bottom: 190px;
  left: 50%;
  transform: translateX(-50%);
  animation: animate 10s linear infinite;
}

.container {
  margin: 15px auto;
  width: 50%;
  padding: 10px;
}

img {
  float: left;
  width: 300px;
  height: 260px;
  padding: 0 10px 0 0;
}

.text {
  text-align: justify;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  line-height: 165%;
}

.about p {
  line-height: 1.7;
  color: #e6b7a3;
  width: 70%;
  font-size: 25px;
  margin: 0 auto;
  text-align: center;
}

.about {
  background-color: #709eae;
}

.about h2 {
  color: white;
}

.photo-gallery {
  width: 100%;
}

.pic {
  position: 0;
  height: 230px;
}

@keyframes animate {
  0% {
    width: 100px;
  }
  50% {
    width: 200px;
  }
  100% {
    width: 100px;
  }
}
